EVE Api/gen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="evec_api">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="quicklook">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" type="xs:unsignedByte" />
              <xs:element name="itemname" type="xs:string" />
              <xs:element name="regions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="region" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hours" type="xs:unsignedShort" />
              <xs:element name="minqty" type="xs:unsignedShort" />
              <xs:element name="sell_orders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="order">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="region" type="xs:unsignedInt" />
                          <xs:element name="station" type="xs:unsignedInt" />
                          <xs:element name="station_name" type="xs:string" />
                          <xs:element name="security" type="xs:decimal" />
                          <xs:element name="range" type="xs:unsignedShort" />
                          <xs:element name="price" type="xs:decimal" />
                          <xs:element name="vol_remain" type="xs:unsignedInt" />
                          <xs:element name="min_volume" type="xs:unsignedByte" />
                          <xs:element name="expires" type="xs:date" />
                          <xs:element name="reported_time" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="buy_orders">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="order">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="region" type="xs:unsignedInt" />
                          <xs:element name="station" type="xs:unsignedInt" />
                          <xs:element name="station_name" type="xs:string" />
                          <xs:element name="security" type="xs:decimal" />
                          <xs:element name="range" type="xs:short" />
                          <xs:element name="price" type="xs:decimal" />
                          <xs:element name="vol_remain" type="xs:unsignedInt" />
                          <xs:element name="min_volume" type="xs:unsignedInt" />
                          <xs:element name="expires" type="xs:date" />
                          <xs:element name="reported_time" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedInt" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="required" />
      <xs:attribute name="method" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>