EVE Api/gen.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eveapi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currentTime" type="xs:string" />
        <xs:element name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="key">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rowset">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="row">
                            <xs:complexType>
                              <xs:attribute name="characterID" type="xs:unsignedInt" use="required" />
                              <xs:attribute name="characterName" type="xs:string" use="required" />
                              <xs:attribute name="corporationID" type="xs:unsignedInt" use="required" />
                              <xs:attribute name="corporationName" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="key" type="xs:string" use="required" />
                        <xs:attribute name="columns" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="accessMask" type="xs:unsignedInt" use="required" />
                  <xs:attribute name="type" type="xs:string" use="required" />
                  <xs:attribute name="expires" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cachedUntil" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>