EVE Api/generator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eveapi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currentTime" type="xs:string" />
        <xs:element name="result">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="rowset">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="row">
                      <xs:complexType>
                        <xs:attribute name="transactionDateTime" type="xs:string" use="required" />
                        <xs:attribute name="transactionID" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="quantity" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="typeName" type="xs:string" use="required" />
                        <xs:attribute name="typeID" type="xs:unsignedShort" use="required" />
                        <xs:attribute name="price" type="xs:decimal" use="required" />
                        <xs:attribute name="clientID" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="clientName" type="xs:string" use="required" />
                        <xs:attribute name="stationID" type="xs:unsignedInt" use="required" />
                        <xs:attribute name="stationName" type="xs:string" use="required" />
                        <xs:attribute name="transactionType" type="xs:string" use="required" />
                        <xs:attribute name="transactionFor" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="key" type="xs:string" use="required" />
                  <xs:attribute name="columns" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cachedUntil" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="version" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>